.idea/
__pycache__/
*.pyc
*.pyo
*.pyd

database/
*.zip

ultralytics/.idea/
ultralytics/.yolo_config/
ultralytics/generated/
ultralytics/runs/
ultralytics/__pycache__/
ultralytics/**/*.pyc

.DS_Store
Thumbs.db
